---
title: مدارک
icon: fa-th
order: 2
---

  <div class="row">
    <div class="4u 12u$(mobile)">
      <div class="item">
        <a href="#" class="image fit"><img src="assets/images/pic02.jpg" alt="Ipsum Feugiat" /></a>
        <header>
          <h3>Ipsum Feugiat</h3>
        </header>
      </div>
      <div class="item">
        <a href="#" class="image fit"><img src="assets/images/pic03.jpg" alt="Rhoncus Semper" /></a>
        <header>
          <h3>Rhoncus Semper</h3>
        </header>
      </div>
    </div>
    <div class="4u 12u$(mobile)">
      <div class="item">
        <a href="#" class="image fit"><img src="assets/images/pic04.jpg" alt="Magna Nullam" /></a>
        <header>
          <h3>Magna Nullam</h3>
        </header>
      </div>
      <div class="item">
        <a href="#" class="image fit"><img src="assets/images/pic05.jpg" alt="Natoque Vitae" /></a>
        <header>
          <h3>Natoque Vitae</h3>
        </header>
      </div>
    </div>
    <div class="4u 12u$(mobile)">
      <div class="item">
        <a href="#" class="image fit"><img src="assets/images/pic06.jpg" alt="Dolor Penatibus" /></a>
        <header>
          <h3>Dolor Penatibus</h3>
        </header>
      </div>
      <div class="item">
        <a href="#" class="image fit"><img src="assets/images/pic07.jpg" alt="Orci Convallis" /></a>
        <header>
          <h3>Orci Convallis</h3>
        </header>
      </div>
    </div>
  </div>
