<!-- Logo -->
<div id="logo">
  <a href="{{- '/' | absolute_url -}}" id="home-link">
    <span class="image avatar48"><img src="{{- site.avatar -}}" alt="{{- site.author | default: 'unknown author' | prepend: 'Avatar of ' -}}" /></span>
    <h1 id="title">{{- site.title -}}</h1>
    <p>{{- site.subtitle -}}</p>
  </a>
</div>
